{% extends 'commandeFront.html.twig' %}

{% block title %}Tableau de ligne de commande{% endblock %}

{% block body %}
    <section class="shopping-cart-area ptb-100">
        <div class="container">
            <form class="cart-controller">
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Trash</th>
                            <th scope="col">Image</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for lc in lignesCommande  %}

                        <tr>
                            <td class="trash">
                                <a href="#" class="remove">
                                    <i class="bx bx-trash"></i>
                                </a>
                            </td>

                            <td class="product-thumbnail">
                                <a href="product-details.html">
                                    <img src="assets/images/shopping-cart/shopping-cart-1.jpg" alt="Image">
                                </a>
                            </td>

                            <td class="product-name">
                                <a href="product-details.html">Pitahaya Dragon</a>
                            </td>

                            <td class="product-price">
                                <span class="unit-amount">$50.00</span>
                            </td>

                            <td class="product-quantity">
                                <div class="input-counter">
											<span class="minus-btn">
												<i class="bx bx-minus"></i>
											</span>

                                    <input type="text" value="1">

                                    <span class="plus-btn">
												<i class="bx bx-plus"></i>
											</span>
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <span class="subtotal-amount">$50.00</span>
                            </td>
                        </tr>



                        {% endblock %}



                        </tbody>
                    </table>
                </div>

                <div class="coupon-cart">
                    <div class="row">
                        <div class="col-lg-8 col-sm-7">
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" placeholder="Coupon code">
                                <a href="#" class="default-btn">
                                    Apply Coupon
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-5">
                            <a href="#" class="default-btn update-cart">
                                <span>Update Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="cart-totals">
                <h3 class="cart-checkout-title">Checkout Summary</h3>

                <ul>
                    <li>Subtotal <span>$240.00</span></li>
                    <li>Shipping <span>$00.00</span></li>
                    <li>Total <span>$240.00</span></li>
                    <li><b>Payable Total</b> <span><b>$240.00</b></span></li>
                </ul>

                <a href="checkout.html" class="default-btn">
                    <span>Proceed to checkout</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
